body {
    font-family: Arial, sans-serif;
}
#todo-list {
    max-width: 400px;
    margin: 0 auto;
}
#todo-list ul {
    list-style-type: none;
    padding: 0;
}
#todo-list ul li {
    margin-bottom: 5px;
}